<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://np000046.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>np000046.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NP000046</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NP000046</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:np000046.database.windows.net,1433;Initial Catalog=NP000046;User ID=np000046@np000046.database.windows.net;Password=nuru@123" Name="Data Source=tcp:np000046.database.windows.net,1433;Initial Catalog=NP000046;User Id=np000046@np000046.database.windows.net;Password=nuru@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:np000060.database.windows.net,1433;Initial Catalog=NP000060;Persist Security Info=False;User ID=NP000060;Password=lbef@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CMSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:np000060.database.windows.net,1433;Initial Catalog=NP000060;Persist Security Info=False;User ID=NP000060;Password=lbef@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:np000046.database.windows.net,1433;initial catalog=NP000046;user id=np000046@np000046.database.windows.net;password=nuru@123;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>